
body{
    line-height: 1.6;
    margin-left: 400px;
    margin-right: 300px;
    text-align: justify;
}


.nombre_datos_libro{
    left: 0;
    right: 10;
    position:fixed;
    background-color: #f0f0f0;
    padding: 2px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 250px;
}
.datos_libro {
    left: 0;
    position: fixed;
    top: 200px;
    padding: 10px;
    width: 250px;
    text-align: left;
}
.nombre_descripcion_libro,
.nombre_contenido_libro {
    right: 100px;
    background-color: #f0f0f0;
    padding: 2px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    
}

.contenido_libro{
    column-count: 2;
}

.contenido_libro.columnas {
    display: grid;
    gap: 20px;
}


.cambiar_columnas {
    right: 10px;
}

.button{
    right: 0;
    position: fixed;
    top: 95px;
    padding: 15px 10px;
    width: 220px;
    text-align: left;
    cursor: pointer;
    background-color: #61a2a3;
}

.button {
    display: flex;
    flex-direction: column; 
    gap: 15px;               
}

.imagen_libro {
    left: 0;
    position: fixed;
    top: 450px;
    padding: 10px;
    width: 250px;
    text-align: left;
}


